* {
    box-sizing: border-box;
    outline: 2px solid;
    background-color: beige
}

.heading {
    text-align: center;
}

.recipes {
    padding: 8px;
    list-style-type: none;
}

li {
    padding: 8px;
    margin: 3px;
}

.recipe {
    background-color: aqua;
    padding: 8px;
    margin: 3px
}